@using LoanManagementSystem.ViewModel;
@model UpdatePasswordViewModel

@section scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}

@{
    ViewData["Title"] = "Edit Password";
}




<style>
    .my-card {
        background-color: hsl(0, 0%, 96%);
    }
</style>

<a asp-controller="User" asp-action="Profile" class="btn btn-primary mb-4">Back to Profile</a>
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card my-card">
                <div class="card-body my-2 mx-4">
                    <h1 class="text-center fw-bold ls-tight mb-4">Edit Password</h1>
                    <form asp-controller="Authentication" asp-action="EditPassword">
                        <div asp-validation-summary="All" class="text-danger alert alert-danger"></div>
                            <div class="form-floating">
                                <input type="password" class="form-control mb-2" asp-for="CurrentPassword">
                                <label asp-for="CurrentPassword" class="form-label">Current Password</label>
                            </div>
                            <div class="form-floating">
                                <input type="password" class="form-control mb-2" asp-for="NewPassword">
                                <label asp-for="NewPassword" class="form-label">New Password</label>
                            </div>
                            <div class="form-floating">
                                <input type="password" class="form-control mb-2" asp-for="ConfirmPassword">
                                <label asp-for="ConfirmPassword" class="form-label">Confirm New Password</label>
                            </div>
                            <button class="w-100 btn btn-primary mt-3" type="submit">Update</button>
                    </form>
                </div>
               
            </div>
        </div>
    </div>
</div>





@*<section class="form-section">
    <a asp-controller="User" asp-action="Profile" class="btn btn-primary mb-4">Back to Profile</a>
    <form asp-controller="Authentication" asp-action="EditPassword">
        <h1 class="h3 mb-3 fw-normal">Edit Password</h1>
        <div asp-validation-summary="ModelOnly" class="text-danger alert alert-danger"></div>
        <div class="form-floating">
            <input type="password" class="form-control" asp-for="CurrentPassword">
            <label asp-for="CurrentPassword" class="form-label">Current Password</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" asp-for="NewPassword">
            <label asp-for="NewPassword" class="form-label">New Password</label>
        </div>
        <div class="form-floating">
            <input type="password" class="form-control" asp-for="ConfirmPassword">
            <label asp-for="ConfirmPassword" class="form-label">Confirm New Password</label>
        </div>
        <button class="w-100 btn btn-lg btn-primary" type="submit">Update</button>
    </form>
</section>*@